<div class="app-container">
  <header>
    <div class="info-bar">
      <div class="header-inner border-bottom">
        <div class="social">
          <a href="#"> <i class="fab fa-facebook-f"></i> </a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <!-- <a href="#"><i class="fab fa-google-plus-g"></i></a> -->
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="location">
          <i class="fas fa-map-marker-alt"></i>
          <span>1831 N. Belcher Rd. Suite E2 Clearwater, FL 33765</span>
        </div>
        <div class="contact">
          <i class="fas fa-mobile-alt"></i> <span>(727)-953-9492</span>
        </div>
      </div>
    </div>
    <div class="nav-bar">
      <div class="header-inner">
        <div class="logo"><img src="/assets/fkoplogo.svg" alt="" /></div>
        <div class="nav">
          <a href="#" class="nav-link active">Home</a>
          <a href="#" class="nav-link">Ron Hayter MD</a>
          <a href="#" class="nav-link">Procedures & Conditions</a>
          <a href="#" class="nav-link">Testimonials</a>
          <a href="#" class="nav-link">Resources</a>
          <a href="#" class="nav-link">Contact Us</a>
        </div>
      </div>
    </div>
  </header>
  <div class="router-container"><router-outlet></router-outlet></div>
</div>
