<div class="hero">
  <div class="hero-bg">
    <div class="hero-bg-overlay">
      <div class="hero-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <h1>Ronald Hayter, M.D.</h1>
              <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
              <div class="action">
                <button type="button" class="btn btn-primary">
                  Book an Appointment
                </button>
                <button type="button" class="btn btn-light">
                  About Dr Hayter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="/assets/screenshot1.jpg">screenshot1</a>
<a href="/assets/screenshot2.jpg">screenshot2</a>
<a href="/assets/screenshot3.png">screenshot3</a>
